<!DOCTYPE html>
    <html>

    <head>
        <meta charset="UTF-8">
       
        <title>Quản lý Sách</title>
        <link rel="stylesheet" href="style_menu.css">
        <style> 
       </style>

    </head>

    <body>
        <div class="top-admin">
				<h2>TRANG QUẢN TRỊ QUẢN LÝ SÁCH</h2>
			</div>
        <div class="menu">
				<ul>
                    <li><a href="">Quản lý Sách</a></li>
                    <li><a href="">Quản lý Tài Khoản</a></li>
                    <li><a href="">Đổi mật khẩu</a> </li>
                    <li><a href="">Thống kê</a></li>
                    <li><a href="">Thoát</a></li>
			</div>