<div class="formSearch">
	<form action="search.php" method="GET">
		<input  name="search" type="search" placeholder="Tìm Kiếm sách....." class="txttext" >
		<input type="submit" value="Tìm kiếm" class="submit" name="submit-search">
		
	</form>
	
			<div class="insert">
	
			<a href="them-moi.php" class="submit">Thêm mới</a>
		</div>
        <table class="table" id="my-table">
	<thead>
		<tr>
			<th>STT</th>
			<th>Mã sách</th>
			<th>Tên sách</th>
			<th>Thể Loại</th>
			<th>Nhà Xuất Bản</th>
			<th>Năm sản xuất</th>
            <th>Tác giả</th>
            <th>Số Lượng</th>
            <th>Tình trạng</th>
            <th>Giá tiền</th>
            <th>Cập Nhật </th>
            <th>Xóa</th>

		</tr>
	</thead>
	<tbody>
		
				<tr>
					<td style="text-align: center;">
					<p> 1</p>
					</td>
                    <td style="text-align: center;">
					<p> S0001</p>
					</td>
                    <td style="text-align: center;">
					<p> Hack Não</p>
					</td>
                    <td style="text-align: center;">
					<p> Tiếng anh</p>
					</td>
					<td style="text-align: center;">
					<p> Kim Đồng</p>
					</td>
                    <td style="text-align: center;">
					<p> 2017</p>
					</td>
                    <td style="text-align: center;">
					<p> Nguyễn Văn Hưng</p>
					</td>
                    <td style="text-align: center;">
					<p> 30</p>
					</td>
                    <td style="text-align: center;">
					<p> Mới</p>	
					</td>
                    <td style="text-align: center;">
					<p> 1.000.000 VNĐ</p>
					</td>
					<td class="center"><a style="text-decoration: none" class='submit' href="">Cập nhật</a></td>
					<td class="center"><a style="text-decoration: none" onclick="return confirm('Bạn có chắc chắn muốn xóa sách này hay không!');" class='submit' href="">Xóa</a></td>
				</tr>
				<tr>
					<td style="text-align: center;">
					<p> 2</p>
					</td>
                    <td style="text-align: center;">
					<p> S0002</p>
					</td>
                    <td style="text-align: center;">
					<p> Đắc Nhân Tâm</p>
					</td>
                    <td style="text-align: center;">
					<p> Triết Lý - Đời sống</p>
					</td>
					<td style="text-align: center;">
					<p> Kim Đồng</p>
					</td>
                    <td style="text-align: center;">
					<p> 2015</p>
					</td>
                    <td style="text-align: center;">
					<p> Tịnh Thanh</p>
					</td>
                    <td style="text-align: center;">
					<p> 53</p>
					</td>
                    <td style="text-align: center;">
					<p> Mới</p>	
					</td>
                    <td style="text-align: center;">
					<p> 500.000 VNĐ</p>
					</td>
					<td class="center"><a style="text-decoration: none" class='submit' href="">Cập nhật</a></td>
					<td class="center"><a style="text-decoration: none" onclick="return confirm('Bạn có chắc chắn muốn xóa sách này hay không!');" class='submit' href="">Xóa</a></td>
				</tr>
		
	</tbody>
</table>
</div>
</main>
